[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CAMTHC"]
	path = CAMTHC
	url = https://github.com/lululuella/camthc
	shallow = true
	registered = true
